nicegui-highcharts
aiohttp==3.11.13
aiosqlite==0.21.0
alembic==1.17.2
annotated-types==0.7.0
anyio==4.8.0
arabic-reshaper==3.0.1
asgiref==3.8.1
asn1crypto==1.5.1
attrs==25.1.0
babel==2.17.0
bcrypt==4.3.0
bidict==0.23.1
bottle==0.13.4
brotli==1.2.0
certifi==2025.1.31
cffi==2.0.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.2
cryptography==47.0.0
cssselect2==0.9.0
cycler==0.12.1
defusedxml==0.7.1
docutils==0.20.1
docxcompose==1.4.0
docxtpl==0.20.1
et_xmlfile==2.0.0
fastapi==0.128.0
filetype==1.2.0
fonttools==4.62.1
fpdf2==2.8.7
freetype-py==2.5.1
frozenlist==1.5.0
greenlet==3.1.1
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httplib2==0.31.2
httptools==0.6.4
httpx==0.28.1
idna==3.10
ifaddr==0.2.0
iso8601==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.0
kiwisolver==1.4.8
lxml==6.0.0
Mako==1.3.9
Markdown==3.10.2
markdown-it-py==3.0.0
markdown2==2.5.3
markdown_pdf==1.13.1
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
multidict==6.1.0
narwhals==1.40.0
nicegui==3.5.0
numpy==2.2.5
orjson==3.10.15
packaging==24.2
pandas==2.2.3
pathspec==1.1.1
pillow==11.3.0
plotly==6.1.0
propcache==0.3.0
psycopg2-binary
pycairo==1.29.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.12.1
Pygments==2.19.1
pyparsing==3.2.3
pyphen==0.17.2
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.1.1
python-engineio==4.12.2
python-multipart==0.0.20
python-socketio==5.16.0
pytz==2025.2
requests==2.33.1
scikit-learn==1.6.1
scikit_build_core==0.12.2
scipy==1.16.2
seaborn==0.13.2
setuptools==80.9.0
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.38
sqlparse==0.5.3
starlette==0.50.0
svglib==1.6.0
threadpoolctl==3.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.1
tzlocal==5.3.1
uritools==6.1.0
urllib3==2.3.0
uvicorn==0.36.0
watchfiles==1.1.0
weasyprint==68.1
webencodings==0.5.1
websockets==15.0.1
wheel==0.45.1
wsproto==1.2.0
xhtml2pdf==0.2.17
yarl==1.20.1
zopfli==0.4.1
